<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Site.css" />
    <title>@ViewBag.Title - Arena Dashboard</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap-theme.css")
    @Scripts.Render("~/Scripts/modernizr.js")
</head>
<body>
   

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Tebello Keneth Nhlapo</p>
        </footer>
    </div>

    @Scripts.Render("~/Content/customer.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    
    @RenderSection("scripts", required: false)
</body>
</html>
