@using Customer2022.Models;
@model  Customer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .dataElem {
            margin: 0.5em 0.5em 0.5em 1em;
        }
    </style>

</head>
<body>
    <p>
        @Html.ViewBag.Message
    </p>

    @using (Html.BeginForm())
    {
        <div class="dataElem">
            @Html.LabelFor(x => x.ContactID)<br />
            @Html.EditorFor(x => x.ContactID)
        </div>
        <div class="dataElem">
            @Html.LabelFor(x => x.TitleId) <br />
            @Html.EditorFor(x => x.TitleId)
        </div>
        <div class="dataElem">
            @Html.LabelFor(x => x.Initials) <br />
            @Html.EditorFor(x => x.Initials)
        </div>


        <div class="dataElem">
            @Html.LabelFor(x => x.FirstName)<br />
            @Html.EditorFor(x => x.FirstName)
        </div>
        <div class="dataElem">
            @Html.LabelFor(x => x.Surname) <br />
            @Html.EditorFor(x => x.Surname)
        </div>

        <div class="dataElem">
            @Html.LabelFor(x => x.CompanyId)<br />
            @Html.EditorFor(x => x.CompanyId)
        </div>
        <div class="dataElem">
            @Html.LabelFor(x => x.Address1)<br />
            @Html.EditorFor(x => x.Address1)
        </div>
        <div class="dataElem">
            @Html.LabelFor(x => x.Address3)<br />
            @Html.EditorFor(x => x.Address3)
        </div>


        <div class="dataElem">
            @Html.LabelFor(x => x.AddressType)<br />
            @Html.EditorFor(x => x.AddressType)
        </div>

        <div class="dataElem">
            @Html.LabelFor(x => x.CountryId)<br />
            @Html.EditorFor(x => x.CountryId)
        </div>
        <div class="dataElem">
            @Html.LabelFor(x => x.PhoneNumber)<br />
            @Html.EditorFor(x => x.PhoneNumber)
        </div>
        <div class="dataElem">
            @Html.LabelFor(x => x.EmailAddress)<br />
            @Html.EditorFor(x => x.EmailAddress)
        </div>
        <div class="dataElem">
            @Html.LabelFor(x => x.Liability)<br />
            @Html.EditorFor(x => x.Liability)
        </div>
        <div class="dataElem">
            @Html.LabelFor(x => x.Correspondence2)<br />
            @Html.EditorFor(x => x.Correspondence2)
        </div>

        <div class="dataElem">
            @Html.LabelFor(x => x.Marketing)<br />
            @Html.EditorFor(x => x.Marketing)
        </div>


        <br />
        <button type="submit">Register</button>
    }
</body>
</html>
