@using Customer2022.Models;
@model  Customer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .dataElem {
            margin: 0.5em 0.5em 0.5em 1em;
        }
    </style>

</head>
<body>
    <p>
        @Html.ViewBag.Message
    </p>

    @using (Html.BeginForm())
    {

       <div class="dataElem">
            @Html.LabelFor(x => x.ContactID) 
            @Html.EditorFor(x => x.ContactID)
        </div>
        <div class="dataElem">
            @Html.LabelFor(x => x.Initials) 
            @Html.EditorFor(x => x.Initials)
        </div>
        <div class="dataElem">
            @Html.LabelFor(x => x.FirstName)
            @Html.EditorFor(x => x.FirstName)
        </div>
        <div class="dataElem"
              @Html.LabelFor(x => x.Surname) 
             >@Html.EditorFor(x => x.Surname)</div>
        <div class="dataElem">
            @Html.LabelFor(x => x.Address1)
            @Html.EditorFor(x => x.Address1)
        </div>
   
     <br />
     <button type="submit">Update</button>}
</body>
</html>
