@using Customer2022.Models;

@model  List<Customer>


@{
    ViewBag.Title = "Index";
}
<h1 align="center"><b>Customer Details</b></h1>
<table class="table table-bordered table-striped" id="myTable">

    <tr>
        <td>
            <input type="text" id='myInput' onkeyup='tablesearch()' placeholder="Search" />
        </td>
    </tr>

    <tr>
        <th>ContactID</th>
        <th>Initials</th>
        <th>FirstName</th>
        <th>Surname</th>
        <th>Address1</th>
    </tr>
    @foreach (Customer lCustomer in Model )
    {
        <tr>
           
                <td>@lCustomer.ContactID</td>
                <td>@lCustomer.Initials</td>
                <td>@lCustomer.FirstName</td>
                <td>@lCustomer.Surname</td>
                <td>@lCustomer.Address1</td>
                
                <td>
                    @*// <a href="@Url.Action("Create","Customer", new { @id = @lCustomer.ContactID })">Register</a>*@
                    <a href="@Url.Action("Edit","Customer", new {pId = @lCustomer.ContactID })">Update</a>
                    <a href="@Url.Action("Delete","Customer", new {@id = @lCustomer.ContactID })">Delete</a>
                    <a href="@Url.Action("View","Customer", new { @id = lCustomer.ContactID })">View</a>
                </td>
        </tr>
    }
</table>
<br />
<br/>
<hr />
<table class="table table-bordered table-striped" id="myTable">
    <tr>
        <td>
            @Html.ActionLink("Home", "dashboard", "Home")

        </td>
        <td>
            @Html.ActionLink("ResetPassword", "ResetPassword", "Home")

        </td>
        <td>
            @Html.ActionLink("Register", "Create", "Customer")
        </td>
    </tr>
</table>


 




