@using Customer2022.Models;

@*@model  List<Customer>*@
@model  List<Customer>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p>
            @Html.ViewBag.Message
        </p>

        @using (Html.BeginForm())
        {
    <table class="table table-bordered table-striped" id="myTable">
        <tr>
            <th>ContactID</th>
            <th>Surname</th>
            <th>ProductName</th>
            <th>EmailAddress</th>
        </tr>
        @foreach (Customer lCustomer in Model)
        {
        <tr>
            <td>@lCustomer.ContactID</td>
            <td>@lCustomer.Surname</td>
            <td>@lCustomer.ProductName</td>
            <td>@lCustomer.EmailAddress</td>
            
        </tr>
        }

    </table>
            <hr />

            <table>
                <tr>
                    <td>
                        @Html.ActionLink("Home", "Index", "Home")

                    </td>
                </tr>
             </table>

        }
    </body>
</html>

