@using Customer2022.Models;
@model  List<Customer>

<h1 align="center"><b>Full Details</b></h1>
<p>
    @Html.ViewBag.Message
</p>
<table class="table table-bordered table-striped" id="myTable">
    <tr>
        <th>ContactID</th>
        <th>Surname</th>
        <th>ProductName</th>
        <th>EmailAddress</th>
    </tr>

    @foreach (Customer lCustomer in Model)
    {
<tr>
    <td>@lCustomer.ContactID</td>
    <td>@lCustomer.Surname</td>
    <td>@lCustomer.ProductName</td>
    <td>@lCustomer.EmailAddress</td>
</tr>

    }

</table>
<br />
<br />
<hr />
<table class="table table-bordered table-striped" id="myTable">
    <tr>
        <td>
            @Html.ActionLink("Back", "Index", "Customer")

        </td>
    </tr>
</table>
